In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error , r2_score
import joblib
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [3]:
df=pd.read_csv(r'C:\Users\91948\CondaIBM\Final Project\Data Colletion\Wind turbine.csv')
df

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [4]:
df.shape

(50530, 5)

In [5]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'],format='%d %m %Y %H:%M')
df['year'] = df['Date/Time'].dt.year 
df['month'] = df['Date/Time'].dt.month 
df['day'] = df['Date/Time'].dt.day
df['Hour'] = df['Date/Time'].dt.hour 
df['minute'] = df['Date/Time'].dt.minute 
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°),year,month,day,Hour,minute
0,2018-01-01 00:00:00,380.047791,5.311336,416.328908,259.994904,2018,1,1,0,0
1,2018-01-01 00:10:00,453.769196,5.672167,519.917511,268.641113,2018,1,1,0,10
2,2018-01-01 00:20:00,306.376587,5.216037,390.900016,272.564789,2018,1,1,0,20
3,2018-01-01 00:30:00,419.645905,5.659674,516.127569,271.258087,2018,1,1,0,30
4,2018-01-01 00:40:00,380.650696,5.577941,491.702972,265.674286,2018,1,1,0,40

In [6]:
df.shape

(50530, 10)

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LV ActivePower (kW),50530.0,1307.684332,1312.459242,-2.471405,50.677890,825.838074,2482.507568,3618.732910
Wind Speed (m/s),50530.0,7.557952,4.227166,0.000000,4.201395,7.104594,10.300020,25.206011
Theoretical_Power_Curve (KWh),50530.0,1492.175463,1368.018238,0.000000,161.328167,1063.776283,2964.972462,3600.000000
Wind Direction (°),50530.0,123.687559,93.443736,0.000000,49.315437,73.712978,201.696720,359.997589
year,50530.0,2018.000000,0.000000,2018.000000,2018.000000,2018.000000,2018.000000,2018.000000
month,50530.0,6.507956,3.409312,1.000000,4.000000,6.000000,9.000000,12.000000
day,50530.0,15.626756,8.692104,1.000000,8.000000,16.000000,23.000000,31.000000
Hour,50530.0,11.517356,6.934626,0.000000,5.000000,12.000000,18.000000,23.000000
minute,50530.0,24.997625,17.077802,0.000000,10.000000,20.000000,40.000000,50.000000

In [8]:
df.count(0)

Date/Time                        50530
LV ActivePower (kW)              50530
Wind Speed (m/s)                 50530
Theoretical_Power_Curve (KWh)    50530
Wind Direction (°)               50530
year                             50530
month                            50530
day                              50530
Hour                             50530
minute                           50530
dtype: int64

In [9]:
x=df[['Wind Speed (m/s)','Wind Direction (°)']]
y= df['LV ActivePower (kW)']

In [10]:
x

       Wind Speed (m/s)  Wind Direction (°)
0              5.311336          259.994904
1              5.672167          268.641113
2              5.216037          272.564789
3              5.659674          271.258087
4              5.577941          265.674286
...                 ...                 ...
50525         11.404030           80.502724
50526          7.332648           84.062599
50527          8.435358           84.742500
50528          9.421366           84.297913
50529          9.979332           82.274620

[50530 rows x 2 columns]

In [11]:
y

0         380.047791
1         453.769196
2         306.376587
3         419.645905
4         380.650696
            ...
50525    2963.980957
50526    1684.353027
50527    2201.106934
50528    2515.694092
50529    2820.466064
Name: LV ActivePower (kW), Length: 50530, dtype: float64

In [12]:
x.to_csv('Independent_variables.csv')
y.to_csv('Dependent_variable.csv')

In [13]:
x_train, x_test,y_train, y_test = train_test_split(x,y,
                                   random_state=104, 
                                   test_size=0.25, 
                                   shuffle=True)

In [14]:
x_train

       Wind Speed (m/s)  Wind Direction (°)
28504          4.026048          185.355698
41746         14.516110          201.470505
29608          5.541453           83.063583
27937          6.594457          229.080795
44653          8.857038          195.033401
...                 ...                 ...
31240         14.218030           52.621040
40664          4.184407            5.066684
39078          9.251970           28.459591
49881          2.953903          313.122589
8261          16.789530          210.482407

[37897 rows x 2 columns]

In [15]:
x_test

       Wind Speed (m/s)  Wind Direction (°)
26216          6.955541           74.568779
7780           6.865221          289.736694
32865         13.285500           64.718727
40460          1.988071          211.913498
32350         15.272990           67.904510
...                 ...                 ...
430            7.085528          199.669006
50506          8.674524           78.169724
41545          9.108888          195.583206
49528         10.671930          339.134888
39166          9.947414           42.866428

[12633 rows x 2 columns]

In [16]:
y_train

28504      49.185532
41746    3603.016113
29608     607.884216
27937     777.071228
44653    1607.969971
            ...
31240    3599.718994
40664     142.976593
39078    2192.166992
49881       0.000000
8261     3603.206055
Name: LV ActivePower (kW), Length: 37897, dtype: float64

In [17]:
x_train

       Wind Speed (m/s)  Wind Direction (°)
28504          4.026048          185.355698
41746         14.516110          201.470505
29608          5.541453           83.063583
27937          6.594457          229.080795
44653          8.857038          195.033401
...                 ...                 ...
31240         14.218030           52.621040
40664          4.184407            5.066684
39078          9.251970           28.459591
49881          2.953903          313.122589
8261          16.789530          210.482407

[37897 rows x 2 columns]