In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.svm import SVR
from datetime import datetime
from sklearn.model_selection import train_test_split,RandomizedSearchCV, GridSearchCV
from sklearn.metrics import accuracy_score,r2_score,mean_squared_error,confusion_matrix
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,VotingRegressor
from sklearn import preprocessing
from sklearn import utils
from xgboost import XGBRegressor

In [2]:
df=pd.read_csv(r'C:\Users\91948\CondaIBM\Final Project\Data Colletion\Wind turbine.csv')
df

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286
...,...,...,...,...,...
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [3]:
df.shape

(50530, 5)

In [4]:
df.info

<bound method DataFrame.info of               Date/Time  LV ActivePower (kW)  Wind Speed (m/s)  \
0      01 01 2018 00:00           380.047791          5.311336
1      01 01 2018 00:10           453.769196          5.672167
2      01 01 2018 00:20           306.376587          5.216037
3      01 01 2018 00:30           419.645905          5.659674
4      01 01 2018 00:40           380.650696          5.577941
...                 ...                  ...               ...
50525  31 12 2018 23:10          2963.980957         11.404030
50526  31 12 2018 23:20          1684.353027          7.332648
50527  31 12 2018 23:30          2201.106934          8.435358
50528  31 12 2018 23:40          2515.694092          9.421366
50529  31 12 2018 23:50          2820.466064          9.979332

       Theoretical_Power_Curve (KWh)  Wind Direction (°)
0                         416.328908          259.994904
1                         519.917511          268.641113
2                         390.900016          272.564789
3                         516.127569          271.258087
4                         491.702972          265.674286
...                              ...                 ...
50525                    3397.190793           80.502724
50526                    1173.055771           84.062599
50527                    1788.284755           84.742500
50528                    2418.382503           84.297913
50529                    2779.184096           82.274620

[50530 rows x 5 columns]>

In [5]:
df.isnull().any

<bound method NDFrame._add_numeric_operations.<locals>.any of        Date/Time  LV ActivePower (kW)  Wind Speed (m/s)  \
0          False                False             False
1          False                False             False
2          False                False             False
3          False                False             False
4          False                False             False
...          ...                  ...               ...
50525      False                False             False
50526      False                False             False
50527      False                False             False
50528      False                False             False
50529      False                False             False

       Theoretical_Power_Curve (KWh)  Wind Direction (°)
0                              False               False
1                              False               False
2                              False               False
3                              False               False
4                              False               False
...                              ...                 ...
50525                          False               False
50526                          False               False
50527                          False               False
50528                          False               False
50529                          False               False

[50530 rows x 5 columns]>

In [6]:
x=df[['Wind Speed (m/s)','Wind Direction (°)']]

In [7]:
y = df['LV ActivePower (kW)']

In [8]:
x.head()

   Wind Speed (m/s)  Wind Direction (°)
0          5.311336          259.994904
1          5.672167          268.641113
2          5.216037          272.564789
3          5.659674          271.258087
4          5.577941          265.674286

In [9]:
y.head()

0    380.047791
1    453.769196
2    306.376587
3    419.645905
4    380.650696
Name: LV ActivePower (kW), dtype: float64

In [10]:
x_train, x_test,y_train, y_test = train_test_split(x,y ,random_state=104,test_size=0.25)

In [11]:
x_train

       Wind Speed (m/s)  Wind Direction (°)
28504          4.026048          185.355698
41746         14.516110          201.470505
29608          5.541453           83.063583
27937          6.594457          229.080795
44653          8.857038          195.033401
...                 ...                 ...
31240         14.218030           52.621040
40664          4.184407            5.066684
39078          9.251970           28.459591
49881          2.953903          313.122589
8261          16.789530          210.482407

[37897 rows x 2 columns]

In [12]:
x_test

       Wind Speed (m/s)  Wind Direction (°)
26216          6.955541           74.568779
7780           6.865221          289.736694
32865         13.285500           64.718727
40460          1.988071          211.913498
32350         15.272990           67.904510
...                 ...                 ...
430            7.085528          199.669006
50506          8.674524           78.169724
41545          9.108888          195.583206
49528         10.671930          339.134888
39166          9.947414           42.866428

[12633 rows x 2 columns]

--Checking the Metrix

In [13]:
sm=SVR()
model_sm=sm.fit(x_train,y_train)
y_sm=model_sm.predict(x_test)
print('R2-svm',r2_score(y_test,y_sm))
print('RMSE-svm',np.sqrt(mean_squared_error(y_test,y_sm)))

R2-svm 0.003210488886992935
RMSE-svm 1302.12133034028

In [14]:
xgr=XGBRegressor()
model_xgr=xgr.fit(x_train,y_train)
y_xgr=model_xgr.predict(x_test)
print('R2-xgb',r2_score(y_test,y_xgr))
print('RMSE-xgb',np.sqrt(mean_squared_error(y_test,y_xgr)))

R2-xgb 0.9143962322036632
RMSE-xgb 381.5892783561758

In [15]:
lnr=LinearRegression()
model_lnr=lnr.fit(x_train,y_train)
y_lnr=model_lnr.predict(x_test)
print('R2-lr',r2_score(y_test,y_lnr))
print('RMSE-lr',np.sqrt(mean_squared_error(y_test,y_lnr)))

R2-lr 0.8320590517273709
RMSE-lr 534.4757730194342

In [16]:
rdfr=RandomForestRegressor()
model_rdfr=rdfr.fit(x_train,y_train)
y_rdfr=model_rdfr.predict(x_test)
print('R2-rf',r2_score(y_test,y_rdfr))
print('RMSE-rf',np.sqrt(mean_squared_error(y_test,y_rdfr)))

R2-rf 0.9059110098097495
RMSE-rf 400.05446993429405

In [17]:
dtr=DecisionTreeRegressor()
model_dtr=dtr.fit(x_train,y_train)
y_dtr=model_dtr.predict(x_test)
print('R2-dt',r2_score(y_test,y_dtr))
print('RMSE-dt',np.sqrt(mean_squared_error(y_test,y_dtr)))

R2-dt 0.8359975041946717
RMSE-dt 528.1714867042582

In [18]:
model_xgr.save_model('Model_Predicted.sav')